<!DOCTYPE html>
<html>
<head>
<title>留言板- home</title>
<link href="/app/views/css/app.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Pink Contact Form ,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements"./>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script type="text/javascript" charset="utf-8" async="" src="/app/views/js/app.js"></script>

</head>
<body class="eye-protector-processed" style="background-color: rgb(193, 230, 198); transition: background-color 0.3s ease 0s;">
{% block content %}

{% endblock %}
	<!--start-copyright-->
   		<div class="copy-right">
   			<div class="wrap">
				<p>2018.All rights reserved.Power By <a target="_blank" href="localhost">Lii Chua</a></p>
		</div>
	</div>
	<!--//end-copyright-->
</body>
</html>